@font-face {
  font-family: 'Poppins';
  src: url("../public/Poppins/Poppins-Regular.ttf");
}

.App {
  padding: 1em;
  font-family: "Poppins";
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

h3{
  color: rgb(236, 130, 130)
  ;
}


.form>input {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0px;
}

.form>input:focus {
  outline: none;
}

.form>span {
  border: 2px solid rgb(85, 182, 85);
  color: rgb(85, 182, 85);
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0px;
  transform: scale(1);
  transition-duration: 300ms;
}

.form>span:hover {
  cursor: pointer;
  padding: 10px;
  color: #f1f1f1;
  background-color: rgb(85, 182, 85);
  border-radius: 5px;
  margin: 5px 0px;
  transform: scale(1.1);
}